.heading{
    text-align: center;
    color: #6b6666;
}
.setheadEmoji{
    width: 30px;
    transform-origin: left top;
    transition: transform 3s;
    padding-left: 6px;
    padding-right: 6px;              
}

.setheadEmoji:hover {
      transform: rotate(500deg);
}

.lists{
    list-style-type: none;
    padding:6px 16px;
    border-top: 0.70px solid #c5c2c2;
    border-bottom: 0px solid #c5c2c2;
    font-size: 19px;
    font-family: -webkit-pictograph;

}
.lists:hover{
    background-color: #e8e5e599;
}
.symbols{
    padding-right: 10px;
    font-size: 38px;    
}

.inpsty{
      width: 97%;
      height: 38px;
      font-size: 20px;
      padding-left: 16px; 
      margin-bottom: 12px;
      border-radius: 6px; 
      border: 1px solid #9e9c9c;         
}
.searchDiv{
    text-align: center;
}